.md-app .md-content.md-theme-default {
  background: none
}
.md-steppers.md-theme-default {
  background: none
}
.md-app:not(.md-overlap).md-theme-default{
    background-image: linear-gradient(to bottom right, rgba(10, 36, 84, 0.3), rgba(233, 78, 15, 0.2));
}

  .topbar{
    box-shadow: none !important;
  }
.md-drawer {
    width: 260px;
    max-width: calc(100vw - 125px);
}
.nav-item {
    margin-top: 12px;
}
.nav-item.active {
  color: white!important;
    border-left: #e84e0e;
    border-left-style: solid;
    background: #e84e0e24;
    margin-right: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.md-app .md-content.md-theme-default {
    border-left-color: rgba(0,0,0,0);
}
.topbar{
      box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,.0), 0 0 0 0 rgba(0,0,0,0)!important;
}
.md-steppers-navigation {
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}