.md-app .md-content.md-theme-default {
  background: none
}
.md-steppers.md-theme-default {
  background: none
}
.md-app:not(.md-overlap).md-theme-default{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
}
.md-list-item-content>.md-icon:first-child {
  margin-right: 15px!important;
}
.md-drawer {
    width: 260px;
    max-width: calc(100vw - 125px);
}
.nav-item {
    margin-top: 12px;
}
.nav-item.active {
    border-left: #ffffff;
    border-left-style: solid;
    background: #684dbb  !important;
    margin-right: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.md-app .md-content.md-theme-default {
    border-left-color: rgba(0,0,0,0);
}
.md-steppers-navigation {
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}
  .md-app {
    min-height: 100vh;
    max-height: 100vh;
  }

